<div class="share p-3">
  <div class="d-flex p-0">
    <span class="share--title">Share anime for your friends</span>
    <app-social-media></app-social-media>
  </div>
  <div class="px-5">
    <div class="anime-by-type">
      <div class="row p-0 m-0">
        <div class="col-9 p-0">
          <div class="row p-0" *ngIf="listAnimeByType; else spinner">
            <div class="anime-by-type--title col-12">
              <h3 class="mt-4 text-white">
                Anime <span *ngIf="year"> of {{ year }} </span>({{
                  pagination.items.total
                }})
              </h3>
            </div>
            <div class="anime-by-type--list w-100">
              <div class="">
                <app-anime-list
                  [animeList]="listAnimeDisplayBig"
                  [bigger]="true"
                ></app-anime-list>
                <app-anime-list
                  [animeList]="listAnimeByType"
                  [bigger]="false"
                ></app-anime-list>
              </div>
            </div>
            <ngb-pagination
              [collectionSize]="pagination.last_visible_page * 10"
              [(page)]="page"
              [maxSize]="5"
              [rotate]="true"
              [boundaryLinks]="true"
              (pageChange)="logPage()"
            ></ngb-pagination>
          </div>

          <ng-template #spinner>
            <div
              class="d-flex justify-content-center align-items-center spinner"
            >
              <app-spinner></app-spinner>
            </div>
          </ng-template>
        </div>

        <div class="col-3">
          <div>
            <h4 class="genres-title p-3">Genres</h4>
            <app-genres-box></app-genres-box>
          </div>

          <app-mostview-box></app-mostview-box>
        </div>
      </div>
    </div>
  </div>
</div>
