<div class="user__header border-bottom border-warning">
  <div class="user__header--bg"></div>
  <div class="user__header--text"></div>
</div>
<div class="share py-3" *ngIf="listAnimeByGenres; else spinner">
  <div class="d-flex">
    <button routerLink="/home" class="btn-back">
      <i class="fas fa-backward mr-2"></i> <span> Back</span>
    </button>
    <div>
      <div class="px-3 mobile">
        <span class="share--title">Share anime for your friends</span>
        <app-social-media type="icon"></app-social-media>
      </div>
      <div class="px-3 pc">
        <span class="share--title">Share anime for your friends</span>
        <app-social-media></app-social-media>
      </div>
    </div>
  </div>
  <div class="">
    <div class="anime-by-genres">
      <div class="row p-0 m-0">
        <div
          class="col-sm-12 col-lg-9 d-flex justify-content-center"
          style="width: 100%"
        >
          <div class="row p-0" style="width: 100%">
            <div class="anime-by-genres--title col-12">
              <h3 class="mt-4 text-white">
                Anime <span *ngIf="year"> of {{ year }} </span>({{
                  pagination.items.total
                }})
              </h3>
            </div>
            <div class="anime-by-genres--list w-100" style="margin-top: 4px">
              <div class="">
                <app-anime-list
                  [animeList]="listAnimeDisplayBig"
                  [bigger]="true"
                ></app-anime-list>
                <app-anime-list
                  [animeList]="listAnimeByGenres"
                  [bigger]="false"
                ></app-anime-list>
              </div>
            </div>

            <div class="w-100 d-flex justify-content-center">
              <ngb-pagination
                [collectionSize]="pagination.last_visible_page * 10"
                [(page)]="page"
                [maxSize]="2"
                [rotate]="true"
                [boundaryLinks]="true"
                (pageChange)="logPage()"
              ></ngb-pagination>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-lg-3">
          <div class="col-12 px-0 mb-5">
            <h2 class="genres-title py-4 mb-0">Genres</h2>
            <app-genres-box></app-genres-box>
          </div>
          <div class="col-12 px-0">
            <app-mostview-box></app-mostview-box>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #spinner>
  <div class="d-flex justify-content-center align-items-center spinner">
    <app-spinner></app-spinner>
  </div>
</ng-template>
