<div class="share py-3">
  <div class="pc px-3">
    <span class="share--title">Share anime for your friends</span>
    <app-social-media></app-social-media>
  </div>
  <div class="mobile px-3">
    <span class="share--title">Share anime for your friends</span>
    <app-social-media type="icon"></app-social-media>
  </div>
  <div class="">
    <div class="anime-by-type">
      <div class="d-flex flex-wrap">
        <div class="col-12 col-lg-9 d-flex justify-content-center">
          <div class="row mx-2" *ngIf="animes; else spinner">
            <div class="anime-by-type--title col-12">
              <h3 class="mt-4 text-white">
                {{animeHeader | titlecase}} ({{
                  pagination?.items.total
                }} Anime)
              </h3>
            </div>
            <div class="anime-by-type--list w-100" style="margin-top: 4px">
                <app-anime-list [animeList]="listAnimeDisplayBig"  [bigger]="true"></app-anime-list>
                <app-anime-list [animeList]="listAnimeDisplayMedium" [bigger]="false"></app-anime-list>

            </div>
            <ngb-pagination
              [collectionSize]="pagination?.last_visible_page*10"
              [(page)]="page"
              [maxSize]="2"
              [rotate]="true"
              [boundaryLinks]="true"
              (pageChange)="logPage()"
            ></ngb-pagination>
          </div>

          <ng-template #spinner>
            <div
              class="d-flex justify-content-center align-items-center spinner"
            >
              <app-spinner></app-spinner>
            </div>
          </ng-template>
        </div>

        <div class="col-12 col-lg-3 mb-5">
          <div>
            <h2 class="genres-title py-4 mb-0">Genres</h2>
            <div class="col-12 px-0">

              <app-genres-box></app-genres-box>
            </div>
          </div>
          <div class="col-12 px-0">


            <app-mostview-box></app-mostview-box>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
