.main-container {
  margin: auto auto;
  min-height: 500px;
}

.watch-list {
  color: var(--color-primary)
}

.btn-custom {
  background-color: #6c757d;
}
.active{
  background-color: var(--color-primary);
}
