<div class="main-container  pl-4 col-11">
  <h1 class="watch-list"><i class="fas fa-heart"></i> Watch List</h1>
  <div>
    <button class="btn btn-custom px-3 mb-3" (click)="showAll()">All</button>
  <button class="btn btn-secondary px-3 ml-2 mb-3" value="watching" (click)="showStatusView($event.target.value)" >Watching</button>
  <button class="btn btn-secondary px-3 ml-2 mb-3" value="onhold" (click)="showStatusView($event.target.value)">On-Hold</button>
  <button class="btn btn-secondary px-3 ml-2 mb-3" value="plantowatch" (click)="showStatusView($event.target.value)">Plan to watch</button>
  <button class="btn btn-secondary px-3 ml-2 mb-3" value="dropped" (click)="showStatusView($event.target.value)">Dropped</button>
  <button class="btn btn-secondary px-3 ml-2 mb-3" value="completed" (click)="showStatusView($event.target.value)">Completed</button>
  </div>
  <div>
    <app-anime-list [animeList]="filter" [animeHeader]="" [dropDown]="true" (removeItem)="removeItem($event)" (changeWLStatus)="changeStatus($event)"></app-anime-list>
  </div>
</div>
