.slide__item{
  width: 283px;
  margin-right: 20px;
  position: relative;
  height: 100%;
}
.slide__item--content{
  width: 100%;
    height: auto;
    padding-bottom: 115%;
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.slide__item--desc{
  position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    width: 40px;
    text-align: center;
    font-weight: 600;
    cursor: default;
    background: linear-gradient(180deg,#4a4b51 0,rgba(74,75,81,0) 99%);
}
.slide__item--title{
  text-align: left;
    height: 40px;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 100px;
    width: 150px;
    line-height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    left: -55px;
    font-size: 14px;
    font-weight: 400;
}

.slide__item--number{
  position: absolute;
    bottom: 0;
    font-size: 24px;
    line-height: 1em;
    text-align: center;
    color: #faa300;
    z-index: 9;
    left: 0;
    right: 0;
}
.swiper-button-prev{
  color: white;

}
.swiper-button-next{
  color: white;

}
.slide__item--image{
  display: inline-block;
    background: #2a2c31;
    position: absolute;
    width: auto;
    left: 40px;
    right: 0;
    top: 0;
    bottom: 0;
    padding-bottom: 0;
    height: auto;
    margin-bottom: 0;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h2{
  color: #faa309;
}
