<div class="main-container">
  <div class="block_area">
    <div class="block_area-header"></div>
    <div class="tab-content">
      <div class="film_list">
        <div class="film_list-wrap">
          <div class="flw-item">
            <div class="film-poster">
              <div class="tick ltr">
                <div class="tick-item tick-dub bg-danger text-white">DUB</div>
              </div>
              <div class="tick rtl">
                <div class="tick-item tick-eps">EP 224/224</div>
              </div>
              <img
                class="film-poster-img lazyloaded"
                data-src="https://static.bunnycdn.ru/i/cache/images/2018/04/339cab6d38aff3b5ade266e89778dcb7.jpg"
                alt="Yu-Gi-Oh! (Dub)"
                src="https://static.bunnycdn.ru/i/cache/images/2018/04/339cab6d38aff3b5ade266e89778dcb7.jpg"
              />
              <a
                class="film-poster-ahref"
                href="https://animebee.to/yu-gi-oh-dub.gyae"
                title="Yu-Gi-Oh! (Dub)"
                ><i class="fas fa-play"></i
              ></a>
            </div>
            <div class="film-detail">
              <h3 class="film-name">
                <a
                  class="dynamic-name"
                  href="https://animebee.to/yu-gi-oh-dub.gyae"
                  title="Yu-Gi-Oh! (Dub)"
                  data-jname="Yu☆Gi☆Oh! Duel Monsters (Dub)"
                  >Yu-Gi-Oh! (Dub)</a
                >
              </h3>
              <div class="fd-infor">
                <span class="fdi-item"> TV </span>
                <span class="dot"></span>
                <span class="fdi-item fdi-duration">23 min/ep</span>
                <span class="dot"></span>
                <span class="fdi-item fdi-year">2000</span>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="flw-item">
            <div class="film-poster">
              <div class="tick ltr">
                <div class="tick-item tick-dub">SUB</div>
              </div>
              <div class="tick rtl">
                <div class="tick-item tick-eps">EP 23/23</div>
              </div>
              <img
                class="film-poster-img lazyloaded"
                data-src="https://static.bunnycdn.ru/i/cache/images/2019/10/7c9d5445b1671097699281d9695c3b9c.jpg"
                alt="Welcome to Demon School! Iruma-kun"
                src="https://static.bunnycdn.ru/i/cache/images/2019/10/7c9d5445b1671097699281d9695c3b9c.jpg"
              />
              <a
                class="film-poster-ahref"
                href="https://animebee.to/welcome-to-demon-school-iruma-kun.amkw"
                title="Welcome to Demon School! Iruma-kun"
                ><i class="fas fa-play"></i
              ></a>
            </div>
            <div class="film-detail">
              <h3 class="film-name">
                <a
                  class="dynamic-name"
                  href="https://animebee.to/welcome-to-demon-school-iruma-kun.amkw"
                  title="Welcome to Demon School! Iruma-kun"
                  data-jname="Mairimashita! Iruma-kun"
                  >Welcome to Demon School! Iruma-kun</a
                >
              </h3>
              <div class="fd-infor">
                <span class="fdi-item"> TV </span>
                <span class="dot"></span>
                <span class="fdi-item fdi-duration">23 min/ep</span>
                <span class="dot"></span>
                <span class="fdi-item fdi-year">2019</span>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="flw-item">
            <div class="film-poster">
              <div class="tick ltr">
                <div class="tick-item tick-dub">SUB</div>
              </div>
              <div class="tick rtl">
                <div class="tick-item tick-eps">EP 24/24</div>
              </div>
              <img
                class="film-poster-img lazyloaded"
                data-src="https://static.bunnycdn.ru/i/cache/images/2018/07/cf6ca78d96e7b8b9f859f75c2d0a8684.jpg"
                alt="BANANA FISH"
                src="https://static.bunnycdn.ru/i/cache/images/2018/07/cf6ca78d96e7b8b9f859f75c2d0a8684.jpg"
              />
              <a
                class="film-poster-ahref"
                href="https://animebee.to/banana-fish.rvoj"
                title="BANANA FISH"
                ><i class="fas fa-play"></i
              ></a>
            </div>
            <div class="film-detail">
              <h3 class="film-name">
                <a
                  class="dynamic-name"
                  href="https://animebee.to/banana-fish.rvoj"
                  title="BANANA FISH"
                  data-jname="BANANA FISH"
                  >BANANA FISH</a
                >
              </h3>
              <div class="fd-infor">
                <span class="fdi-item"> TV </span>
                <span class="dot"></span>
                <span class="fdi-item fdi-duration">22 min/ep</span>
                <span class="dot"></span>
                <span class="fdi-item fdi-year">2018</span>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="flw-item">
            <div class="film-poster">
              <div class="tick ltr">
                <div class="tick-item tick-dub">SUB</div>
              </div>
              <div class="tick rtl">
                <div class="tick-item tick-eps">EP 22/22</div>
              </div>
              <img
                class="film-poster-img lazyloaded"
                data-src="https://static.bunnycdn.ru/i/cache/images/2018/04/a0f036e5180a902768acb3e2b7775969.jpg"
                alt="Assassination Classroom"
                src="https://static.bunnycdn.ru/i/cache/images/2018/04/a0f036e5180a902768acb3e2b7775969.jpg"
              />
              <a
                class="film-poster-ahref"
                href="https://animebee.to/assassination-classroom.wqq"
                title="Assassination Classroom"
                ><i class="fas fa-play"></i
              ></a>
            </div>
            <div class="film-detail">
              <h3 class="film-name">
                <a
                  class="dynamic-name"
                  href="https://animebee.to/assassination-classroom.wqq"
                  title="Assassination Classroom"
                  data-jname="Ansatsu Kyoushitsu"
                  >Assassination Classroom</a
                >
              </h3>
              <div class="fd-infor">
                <span class="fdi-item"> TV </span>
                <span class="dot"></span>
                <span class="fdi-item fdi-duration">23 min/ep</span>
                <span class="dot"></span>
                <span class="fdi-item fdi-year">2015</span>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="flw-item">
            <div class="film-poster">
              <div class="tick ltr">
                <div class="tick-item tick-dub bg-danger text-white">DUB</div>
              </div>
              <div class="tick rtl">
                <div class="tick-item tick-eps">EP 25/25</div>
              </div>
              <img
                class="film-poster-img lazyloaded"
                data-src="https://static.bunnycdn.ru/i/cache/images/2018/03/72f8e89efd15467efc6d8f90c01f2738.jpg"
                alt="Assassination Classroom 2 (Dub)"
                src="https://static.bunnycdn.ru/i/cache/images/2018/03/72f8e89efd15467efc6d8f90c01f2738.jpg"
              />
              <a
                class="film-poster-ahref"
                href="https://animebee.to/assassination-classroom-2-dub.vedv"
                title="Assassination Classroom 2 (Dub)"
                ><i class="fas fa-play"></i
              ></a>
            </div>
            <div class="film-detail">
              <h3 class="film-name">
                <a
                  class="dynamic-name"
                  href="https://animebee.to/assassination-classroom-2-dub.vedv"
                  title="Assassination Classroom 2 (Dub)"
                  data-jname="Ansatsu Kyoushitsu 2 (Dub)"
                  >Assassination Classroom 2 (Dub)</a
                >
              </h3>
              <div class="fd-infor">
                <span class="fdi-item"> TV </span>
                <span class="dot"></span>
                <span class="fdi-item fdi-duration">23 min/ep</span>
                <span class="dot"></span>
                <span class="fdi-item fdi-year">2016</span>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="flw-item">
            <div class="film-poster">
              <div class="tick ltr">
                <div class="tick-item tick-dub bg-danger text-white">DUB</div>
              </div>
              <div class="tick rtl">
                <div class="tick-item tick-eps">EP 52/52</div>
              </div>
              <img
                class="film-poster-img lazyloaded"
                data-src="https://static.bunnycdn.ru/i/cache/images/6/6d/6dc9ffe64ade8c5aa79c7eb36a7ffa0a.jpg"
                alt="SHAMAN KING (2021) (Dub)"
                src="https://static.bunnycdn.ru/i/cache/images/6/6d/6dc9ffe64ade8c5aa79c7eb36a7ffa0a.jpg"
              />
              <a
                class="film-poster-ahref"
                href="https://animebee.to/shaman-king-2021-dub.km7kb"
                title="SHAMAN KING (2021) (Dub)"
                ><i class="fas fa-play"></i
              ></a>
            </div>
            <div class="film-detail">
              <h3 class="film-name">
                <a
                  class="dynamic-name"
                  href="https://animebee.to/shaman-king-2021-dub.km7kb"
                  title="SHAMAN KING (2021) (Dub)"
                  data-jname="SHAMAN KING (2021) (Dub)"
                  >SHAMAN KING (2021) (Dub)</a
                >
              </h3>
              <div class="fd-infor">
                <span class="fdi-item"> TV </span>
                <span class="dot"></span>
                <span class="fdi-item fdi-duration">23 min/ep</span>
                <span class="dot"></span>
                <span class="fdi-item fdi-year">2021</span>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="flw-item">
            <div class="film-poster">
              <div class="tick ltr">
                <div class="tick-item tick-dub bg-danger text-white">DUB</div>
              </div>
              <div class="tick rtl">
                <div class="tick-item tick-eps">EP 112/112</div>
              </div>
              <img
                class="film-poster-img lazyloaded"
                data-src="https://static.bunnycdn.ru/i/cache/images/2018/04/c1c292d73b7ff4477fbe4f4aeb3e0518.jpg"
                alt="Yu Yu Hakusho: Ghostfiles (Dub)"
                src="https://static.bunnycdn.ru/i/cache/images/2018/04/c1c292d73b7ff4477fbe4f4aeb3e0518.jpg"
              />
              <a
                class="film-poster-ahref"
                href="https://animebee.to/yu-yu-hakusho-ghostfiles-dub.jwey"
                title="Yu Yu Hakusho: Ghostfiles (Dub)"
                ><i class="fas fa-play"></i
              ></a>
            </div>
            <div class="film-detail">
              <h3 class="film-name">
                <a
                  class="dynamic-name"
                  href="https://animebee.to/yu-yu-hakusho-ghostfiles-dub.jwey"
                  title="Yu Yu Hakusho: Ghostfiles (Dub)"
                  data-jname="Yuu☆Yuu☆Hakusho (Dub)"
                  >Yu Yu Hakusho: Ghostfiles (Dub)</a
                >
              </h3>
              <div class="fd-infor">
                <span class="fdi-item"> TV </span>
                <span class="dot"></span>
                <span class="fdi-item fdi-duration">24 min/ep</span>
                <span class="dot"></span>
                <span class="fdi-item fdi-year">1992</span>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="flw-item">
            <div class="film-poster">
              <div class="tick ltr">
                <div class="tick-item tick-dub">SUB</div>
              </div>
              <div class="tick rtl">
                <div class="tick-item tick-eps">EP 13/13</div>
              </div>
              <img
                class="film-poster-img lazyloaded"
                data-src="https://static.bunnycdn.ru/i/cache/images/a/a4/a4574f15a407a592a4201f1cf0dade84.jpg"
                alt="The God of High School"
                src="https://static.bunnycdn.ru/i/cache/images/a/a4/a4574f15a407a592a4201f1cf0dade84.jpg"
              />
              <a
                class="film-poster-ahref"
                href="https://animebee.to/the-god-of-high-school.27oe"
                title="The God of High School"
                ><i class="fas fa-play"></i
              ></a>
            </div>
            <div class="film-detail">
              <h3 class="film-name">
                <a
                  class="dynamic-name"
                  href="https://animebee.to/the-god-of-high-school.27oe"
                  title="The God of High School"
                  data-jname="Za Godo obu Hai Sukuru"
                  >The God of High School</a
                >
              </h3>
              <div class="fd-infor">
                <span class="fdi-item"> TV </span>
                <span class="dot"></span>
                <span class="fdi-item fdi-duration">23 min/ep</span>
                <span class="dot"></span>
                <span class="fdi-item fdi-year">2020</span>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="flw-item">
            <div class="film-poster">
              <div class="tick ltr">
                <div class="tick-item tick-dub">SUB</div>
              </div>
              <div class="tick rtl">
                <div class="tick-item tick-eps">177 + 178</div>
              </div>
              <img
                class="film-poster-img lazyloaded"
                data-src="https://static.bunnycdn.ru/i/cache/images/8/85/8589f36ffb47e3d6483c5593e310221f.jpg"
                alt="The Prince of Tennis"
                src="https://static.bunnycdn.ru/i/cache/images/8/85/8589f36ffb47e3d6483c5593e310221f.jpg"
              />
              <a
                class="film-poster-ahref"
                href="https://animebee.to/the-prince-of-tennis.w9mj"
                title="The Prince of Tennis"
                ><i class="fas fa-play"></i
              ></a>
            </div>
            <div class="film-detail">
              <h3 class="film-name">
                <a
                  class="dynamic-name"
                  href="https://animebee.to/the-prince-of-tennis.w9mj"
                  title="The Prince of Tennis"
                  data-jname="Tennis no Ouji-sama"
                  >The Prince of Tennis</a
                >
              </h3>
              <div class="fd-infor">
                <span class="fdi-item"> TV </span>
                <span class="dot"></span>
                <span class="fdi-item fdi-duration">22 min/ep</span>
                <span class="dot"></span>
                <span class="fdi-item fdi-year">2001</span>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="flw-item">
            <div class="film-poster">
              <div class="tick ltr">
                <div class="tick-item tick-dub bg-danger text-white">DUB</div>
              </div>
              <div class="tick rtl">
                <div class="tick-item tick-eps">EP 50/50</div>
              </div>
              <img
                class="film-poster-img lazyloaded"
                data-src="https://static.bunnycdn.ru/i/cache/images/2018/04/3c5efb66db6979315d9eb09dea16733e.jpg"
                alt="Kenichi: The Mightiest Disciple (Dub)"
                src="https://static.bunnycdn.ru/i/cache/images/2018/04/3c5efb66db6979315d9eb09dea16733e.jpg"
              />
              <a
                class="film-poster-ahref"
                href="https://animebee.to/kenichi-the-mightiest-disciple-dub.378d"
                title="Kenichi: The Mightiest Disciple (Dub)"
                ><i class="fas fa-play"></i
              ></a>
            </div>
            <div class="film-detail">
              <h3 class="film-name">
                <a
                  class="dynamic-name"
                  href="https://animebee.to/kenichi-the-mightiest-disciple-dub.378d"
                  title="Kenichi: The Mightiest Disciple (Dub)"
                  data-jname="Shijou Saikyou no Deshi Kenichi (Dub)"
                  >Kenichi: The Mightiest Disciple (Dub)</a
                >
              </h3>
              <div class="fd-infor">
                <span class="fdi-item"> TV </span>
                <span class="dot"></span>
                <span class="fdi-item fdi-duration">25 min/ep</span>
                <span class="dot"></span>
                <span class="fdi-item fdi-year">2006</span>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="flw-item">
            <div class="film-poster">
              <div class="tick ltr">
                <div class="tick-item tick-dub">SUB</div>
              </div>
              <div class="tick rtl">
                <div class="tick-item tick-eps">EP 14/14</div>
              </div>
              <img
                class="film-poster-img lazyloaded"
                data-src="https://static.bunnycdn.ru/i/cache/images/2019/10/e3897ca72aa299f319529293f7ec5317.jpg"
                alt="Ascendance of a Bookworm"
                src="https://static.bunnycdn.ru/i/cache/images/2019/10/e3897ca72aa299f319529293f7ec5317.jpg"
              />
              <a
                class="film-poster-ahref"
                href="https://animebee.to/ascendance-of-a-bookworm.4gwx"
                title="Ascendance of a Bookworm"
                ><i class="fas fa-play"></i
              ></a>
            </div>
            <div class="film-detail">
              <h3 class="film-name">
                <a
                  class="dynamic-name"
                  href="https://animebee.to/ascendance-of-a-bookworm.4gwx"
                  title="Ascendance of a Bookworm"
                  data-jname="Honzuki no Gekokujou: Shisho ni Naru Tame ni wa Shudan wo Erandeiraremasen"
                  >Ascendance of a Bookworm</a
                >
              </h3>
              <div class="fd-infor">
                <span class="fdi-item"> TV </span>
                <span class="dot"></span>
                <span class="fdi-item fdi-duration">23 min/ep</span>
                <span class="dot"></span>
                <span class="fdi-item fdi-year">2019</span>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="flw-item">
            <div class="film-poster">
              <div class="tick ltr">
                <div class="tick-item tick-dub">SUB</div>
              </div>
              <div class="tick rtl">
                <div class="tick-item tick-eps">EP 12/12</div>
              </div>
              <img
                class="film-poster-img lazyloaded"
                data-src="https://static.bunnycdn.ru/i/cache/images/2018/04/4dabdfa68114efbb7b66069e85406155.jpg"
                alt="Attack on Titan Season 2"
                src="https://static.bunnycdn.ru/i/cache/images/2018/04/4dabdfa68114efbb7b66069e85406155.jpg"
              />
              <a
                class="film-poster-ahref"
                href="https://animebee.to/attack-on-titan-season-2.aqjb"
                title="Attack on Titan Season 2"
                ><i class="fas fa-play"></i
              ></a>
            </div>
            <div class="film-detail">
              <h3 class="film-name">
                <a
                  class="dynamic-name"
                  href="https://animebee.to/attack-on-titan-season-2.aqjb"
                  title="Attack on Titan Season 2"
                  data-jname="Shingeki no Kyojin 2"
                  >Attack on Titan Season 2</a
                >
              </h3>
              <div class="fd-infor">
                <span class="fdi-item"> TV </span>
                <span class="dot"></span>
                <span class="fdi-item fdi-duration">24 min/ep</span>
                <span class="dot"></span>
                <span class="fdi-item fdi-year">2017</span>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
