<div class="container-xs mt-5 mb-4">
  <div class="pl-3 d-none d-lg-flex">
    <app-social-media type="full"></app-social-media>
  </div>

  <div class="row mx-0 mt-5">
    <div class="col-md-6 col-lg-3 mt-4">
      <div class="feature-box">
        <div class="feature-box--title">Music Anime</div>
        <div class="feature-box--list">
          <div
            class="feature-box--item d-flex px-2 py-1"
            *ngFor="let item of MovieType"
            routerLink="/details/{{ item.mal_id }}"
          >
            <img [src]="item.image_url" class="box-item--img" />
            <div class="box-item--infor ml-2">
              <h5 class="box-item--infor__name">{{ item.title }}</h5>
              <div class="box-item--infor__desc">
                <ul class="d-flex">
                  <li>type: {{ item.type }}</li>
                  <li>
                    EP:
                    {{ item.start_date !== null ? item.start_date : "2022" }}
                  </li>
<!--                   <li *ngIf="item.start_date">EP: {{ item.start_date }}</li>
                  <li *ngIf="!item.start_date">EP: Wait for update</li> -->
                </ul>
              </div>
            </div>
            <div
              class="d-flex align-items-center ml-auto box-item--button-add"
              (click)="addWhislit($event, item)"
            >
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="feature-box--item py-3 cursor-pointer">
            <p class="text-center p-0 m-0" routerLink="/type/music">
              View More <i class="fas fa-plus"></i>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 mt-4">
      <div class="feature-box">
        <div class="feature-box--title">Special Anime</div>
        <div class="feature-box--list">
          <div
            class="feature-box--item d-flex px-2 py-1"
            *ngFor="let item of TVType"
            routerLink="/details/{{ item.mal_id }}"
          >
            <img [src]="item.image_url" class="box-item--img" />
            <div class="box-item--infor ml-2">
              <h5 class="box-item--infor__name">{{ item.title }}</h5>
              <div class="box-item--infor__desc">
                <ul class="d-flex">
                  <li>type: {{ item.type }}</li>
                  <li>
                    EP:
                    {{ item.start_date !== null ? item.start_date : "2022" }}
                  </li>
                </ul>
              </div>
            </div>
            <div
              class="d-flex align-items-center ml-auto box-item--button-add"
              (click)="addWhislit($event, item)"
            >
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="feature-box--item py-3 cursor-pointer">
            <p class="text-center p-0 m-0" routerLink="/type/special">
              View More <i class="fas fa-plus"></i>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 mt-4">
      <div class="feature-box">
        <div class="feature-box--title">TV Anime</div>
        <div class="feature-box--list">
          <div
            class="feature-box--item d-flex px-2 py-1"
            *ngFor="let item of specialType"
            routerLink="/details/{{ item.mal_id }}"
          >
            <img [src]="item.image_url" class="box-item--img" />
            <div class="box-item--infor ml-2">
              <h5 class="box-item--infor__name">{{ item.title }}</h5>
              <div class="box-item--infor__desc">
                <ul class="d-flex">
                  <li>type: {{ item.type }}</li>
                  <li>
                    EP:
                    {{ item.start_date !== null ? item.start_date : "2022" }}
                  </li>
                </ul>
              </div>
            </div>
            <div
              class="d-flex align-items-center ml-auto box-item--button-add"
              (click)="addWhislit($event, item)"
            >
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="feature-box--item py-3 cursor-pointer">
            <p class="text-center p-0 m-0" routerLink="/type/TV">
              View More <i class="fas fa-plus"></i>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 mt-4">
      <div class="feature-box">
        <div class="feature-box--title">Movie Anime</div>
        <div class="feature-box--list">
          <div
            class="feature-box--item d-flex px-2 py-1"
            *ngFor="let item of ovaType"
            routerLink="/details/{{ item.mal_id }}"
          >
            <img [src]="item.image_url" class="box-item--img" />
            <div class="box-item--infor ml-2">
              <h5 class="box-item--infor__name">{{ item.title }}</h5>
              <div class="box-item--infor__desc">
                <ul class="d-flex">
                  <li>type: {{ item.type }}</li>
                  <li>
                    EP:
                    {{ item.start_date !== null ? item.start_date : "2022" }}
                  </li>
                </ul>
              </div>
            </div>
            <div
              class="d-flex align-items-center ml-auto box-item--button-add"
              (click)="addWhislit($event, item)"
            >
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="feature-box--item py-3 cursor-pointer">
            <p class="text-center p-0 m-0" routerLink="/type/movie">
              View More <i class="fas fa-plus"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
