<div class="container-xs mt-5 mb-4">
  <div class="pl-3"><app-social-media type="full"></app-social-media></div>

  <div class="row m-0 mt-5">
    <div class="col-md-6 col-lg-3">
      <div class="feature-box">
        <div class="feature-box--title">Top Airing</div>
        <div class="feature-box--list">
          <div
            class="feature-box--item d-flex px-2 py-1"
            *ngFor="let item of fakeAPI"
          >
            <img
              [src]="item.images.jpg.large_image_url"
              class="box-item--img"
            />
            <div class="box-item--infor ml-2">
              <h5 class="box-item--infor__name">{{ item.title }}</h5>
              <div class="box-item--infor__desc">
                <ul class="d-flex">
                  <li>TV</li>
                  <li>EP 1017/9999</li>
                  <li>24 min/ep</li>
                </ul>
              </div>
            </div>
            <div class="d-flex align-items-center ml-auto box-item--button-add">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="feature-box--item py-3 cursor-pointer">
            <p class="text-center p-0 m-0">
              View More <i class="fas fa-plus"></i>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-box">
        <div class="feature-box--title">The best Anime of 2021</div>
        <div class="feature-box--list">
          <div
            class="feature-box--item d-flex px-2 py-1"
            *ngFor="let item of fakeAPI"
          >
            <img
              [src]="item.images.jpg.large_image_url"
              class="box-item--img"
            />
            <div class="box-item--infor ml-2">
              <h5 class="box-item--infor__name">{{ item.title }}</h5>
              <div class="box-item--infor__desc">
                <ul class="d-flex">
                  <li>TV</li>
                  <li>EP 1017/9999</li>
                  <li>24 min/ep</li>
                </ul>
              </div>
            </div>
            <div class="d-flex align-items-center ml-auto box-item--button-add">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="feature-box--item py-3 cursor-pointer">
            <p class="text-center p-0 m-0">
              View More <i class="fas fa-plus"></i>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-box">
        <div class="feature-box--title">Most Popular</div>
        <div class="feature-box--list">
          <div
            class="feature-box--item d-flex px-2 py-1"
            *ngFor="let item of fakeAPI"
          >
            <img
              [src]="item.images.jpg.large_image_url"
              class="box-item--img"
            />
            <div class="box-item--infor ml-2">
              <h5 class="box-item--infor__name">{{ item.title }}</h5>
              <div class="box-item--infor__desc">
                <ul class="d-flex">
                  <li>TV</li>
                  <li>EP 1017/9999</li>
                  <li>24 min/ep</li>
                </ul>
              </div>
            </div>
            <div class="d-flex align-items-center ml-auto box-item--button-add">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="feature-box--item py-3 cursor-pointer">
            <p class="text-center p-0 m-0">
              View More <i class="fas fa-plus"></i>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-box">
        <div class="feature-box--title">Completed Anime Series</div>
        <div class="feature-box--list">
          <div
            class="feature-box--item d-flex px-2 py-1"
            *ngFor="let item of fakeAPI"
          >
            <img
              [src]="item.images.jpg.large_image_url"
              class="box-item--img"
            />
            <div class="box-item--infor ml-2">
              <h5 class="box-item--infor__name">{{ item.title }}</h5>
              <div class="box-item--infor__desc">
                <ul class="d-flex">
                  <li>TV</li>
                  <li>EP 1017/9999</li>
                  <li>24 min/ep</li>
                </ul>
              </div>
            </div>
            <div class="d-flex align-items-center ml-auto box-item--button-add">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="feature-box--item py-3 cursor-pointer">
            <p class="text-center p-0 m-0">
              View More <i class="fas fa-plus"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
