<div class="d-flex justify-content-center">
  <div class="setting mt-5">
    <div class="setting--title d-flex">
      <i class="fas fa-cog"></i>
      Setting
    </div>
    <div class="setting-box">
      <div class="d-flex">
        <span class="setting-type--name">Color</span>
        <div class="dropwdown-palette--list-color d-flex px-2 pt-3">
          <div
            class="dropwdown-palette--color dropwdown-palette--color__yellow active-color clicked"
          ></div>
          <div
            class="dropwdown-palette--color dropwdown-palette--color__green"
          ></div>
          <div
            class="dropwdown-palette--color dropwdown-palette--color__sky"
          ></div>
        </div>
      </div>
      <div class="d-flex">
        <span class="setting-type--name">Font size</span>
        <input type="number" />
      </div>
      <div class="d-flex">
        <span class="setting-type--name">Font</span>
        <input type="number" />
      </div>
      <div class="d-flex">
        <span class="setting-type--name">Auto play</span>
        <input type="number" />
      </div>
    </div>
  </div>
</div>
