<div class="d-flex justify-content-center">
  <div class="setting mt-5">
    <div class="setting-box">
      <div class="d-flex">
        <span class="setting-type--name">Color</span>
        <div class="dropwdown-palette--list-color d-flex">
          <div
            class="dropwdown-palette--color dropwdown-palette--color__yellow active-color clicked"
          ></div>
          <div
            class="dropwdown-palette--color dropwdown-palette--color__green"
          ></div>
          <div
            class="dropwdown-palette--color dropwdown-palette--color__sky"
          ></div>
        </div>
      </div>
      <div class="d-flex mt-5">
        <span class="setting-type--name">Font size</span>
        <select class="custom-select" id="gender2">
          <option selected>Small</option>
          <option value="1">Medium</option>
          <option value="2">Big</option>
        </select>
      </div>
      <div class="d-flex mt-5">
        <span class="setting-type--name">Font</span>
        <select class="custom-select" id="gender2">
          <option selected>Tahoma</option>
          <option value="1">Times new Roma</option>
          <option value="2">Aria</option>
        </select>
      </div>
      <div class="save-btn">Save Change</div>
    </div>
  </div>
</div>
