<app-carosel></app-carosel>
<app-slider [animes]="animeSlider"></app-slider>
<app-anime-featured></app-anime-featured>
<div class="container-xs row mx-0 mb-4">
    <div class="main-container col-9">
        <app-anime-list [animeList]="animeList" [animeHeader]="'Latest'" [buttonAdd]="true" [viewMoreFlag]="true"></app-anime-list>
        <app-anime-list [animeList]="animeListNew" [animeHeader]="'New On Weeboflix'" [buttonAdd]="true" [viewMoreFlag]="true"></app-anime-list>
        <app-anime-list [animeList]="animeList" [animeHeader]="'Top UpComming'" [buttonAdd]="true" [viewMoreFlag]="true"></app-anime-list>
    </div>
    <div class="side-bar col-3">
        <div class="block_area">
          <div class="block_area-header">
              <div class="left">
                  <h2 class="ani-list-heading">Genres</h2>
              </div>
          </div>
          <div class="block_area-content">
            <app-genres-box></app-genres-box>
          </div>
        </div>
        <div class="block_area">
          <div class="block_area-header"></div>
          <div class="block_area-content">
            <app-mostview-box></app-mostview-box>
          </div>
        </div>
      </div>
</div>
