<div *ngIf="animeLastest; else spinner">
<app-carosel></app-carosel>
<app-slider [animes]="animeSlider"></app-slider>
<app-anime-featured></app-anime-featured>
<div class="promotion d-flex justify-content-center align-items-center w-100 my-5">
  <a href="" class="w-75">
    <img src="https://file.imgprox.net/mba79.gif" alt="">
  </a>
</div>
<div class="container-xs row mx-0 mb-4">
    <div class="main-container col-lg-9 col-sm-12">
        <app-anime-list [animeList]="animeLastest" [animeHeader]="'Latest'" [buttonAdd]="true" [viewMoreFlag]="true" [typeViewMore]="'lastest'"></app-anime-list>
        <app-anime-list [animeList]="animeListNew" [animeHeader]="'New On'" [buttonAdd]="true" [viewMoreFlag]="true" [typeViewMore]="'new'"></app-anime-list>
        <app-anime-list [animeList]="animeUpComing" [animeHeader]="'UpComming'" [buttonAdd]="true" [viewMoreFlag]="true" [typeViewMore]="'upcoming'"></app-anime-list>
    </div>
    <div class="side-bar col-lg-3 col-sm-12">
        <div class="block_area">
          <div class="block_area-header">
              <div class="left">
                  <h2 class="ani-list-heading">Genres</h2>
              </div>
          </div>
          <div class="block_area-content">
            <app-genres-box></app-genres-box>
          </div>
        </div>
        <div class="block_area">
          <div class="block_area-header"></div>
          <div class="block_area-content">
            <app-mostview-box></app-mostview-box>
          </div>
        </div>
      </div>
</div>
</div>
<ng-template #spinner>
  <div class="d-flex justify-content-center">
    <app-spinner></app-spinner>
  </div>
</ng-template>
