.user__header--name{
  font-size: 30px;
  color: white;
  line-height: 1.4em;
  font-weight: 500;
}
.user__header--bg{
  background: url("../../../assets/backgroud-user.jpg") no-repeat center;
  height: 20vh;
  filter: blur(8px);
}
.user__header--text{
  position: absolute;
  top: 20vh;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);

}
.user__header--menu{
  font-size: 20px;
  text-decoration: none;
  color: #ddd;
  white-space: nowrap;
}

.active{
  color: #faa300;
}
