<div class="user">
  <div class="user__header border-bottom border-warning">
    <div [ngStyle]="styles"></div>
    <div class="user__header--text">
      <h2 class="user__header--name mb-3">
        Hi {{ userService.user.first_name }} {{ userService.user.last_name }}
      </h2>
      <div>
        <a
          class="user__header--menu px-3"
          routerLink="profile"
          routerLinkActive="active"
          >Profile</a
        >
        <a
          class="user__header--menu px-3"
          routerLink="watch-list"
          routerLinkActive="active"
          >Watch List</a
        >
        <a
          class="user__header--menu px-3"
          routerLink="setting"
          routerLinkActive="active"
          >Setting</a
        >
      </div>
    </div>
  </div>

  <div class="user__content">
    <router-outlet></router-outlet>
  </div>
</div>
