@import "../../../style/variable";
.login-form {
  padding: 20px 50px;
  background-color: $color-dark-1;
  color: white;
  margin-left: -1px;
  position: relative;
  &--button {
    background-color: $color-yellow;
    border-radius: 5px;
    width: 100%;
  }
  & p {
    font-size: 12px;
    color: #a5a5a5;
  }
}
.register {
  margin-top: 46px;
  &--link {
    color: $color-yellow;
    cursor: pointer;
  }
}
.user-profile {
  position: relative;
  &--title {
    padding: 20px 0px;
    font-size: 33px;
    & i {
    }
  }
  &--bg {
    position: absolute;
    width: 30%;
    bottom: -45px;
    left: 0;
  }
  &--img {
    background-color: $color-dark-2;
    position: relative;
    & img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
  &--icon-edit {
    position: absolute;
    top: 70px;
    right: 3px;
    padding: 6px 10px 6px 10px;
    background-color: $color-dark-1;
    border-radius: 50%;
    cursor: pointer;
  }
}
.d-relative {
  position: relative;
  display: inline-block;
}
