<div *ngIf="animeDetail; else spinner">
  <div class="container-fluid mt-5 mb-5 watch" *ngIf="animeDetail">
    <div class="anime-cover-warp">
      <div
        class="anime-cover"
        [ngStyle]="{
          'background-image':
            'url(' + animeDetail.images.jpg.large_image_url + ')'
        }"
      ></div>
    </div>
    <div class="main-container pt-5 d-flex flex-wrap">
      <div class="ep-container-all pb-3 col-lg-3 col-md-4 col-sm-12">
        <div class="ep-container pb-3">
          <p class="text-white ml-3 mt-2">List of episodes:</p>
          <div class="ep-list mx-3">
            <a class="ep-item py-2" *ngFor="let ep of epList" href="">
              {{ ep }}
            </a>
          </div>
        </div>
      </div>
      <div class="vid-container col-lg-6 col-md-8 col-sm-12 px-0">
        <iframe
          *ngIf="animeDetail.trailer.embed_url"
          [src]="embed_url"
          frameborder="0"
        ></iframe>
        <div *ngIf="!animeDetail.trailer.embed_url">
          <iframe
            src="https://www.youtube.com/embed/dQw4w9WgXcQ"
            title="YouTube video player"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div class="detail-container col-lg-3 col-md-12 col-sm-12">
        <div
          class="anime-info-warp py-2 d-flex flex-column justify-content-center"
        >
          <div class="ani ani-pic text-center">
            <img src="{{ animeDetail.images.jpg.large_image_url }}" alt="" />
          </div>
          <div class="ani ani-title">
            <span class="ani-head">Japaness:</span>
            <span class="name">{{ animeDetail.title_japanese }}</span>
          </div>
          <div class="ani ani-title">
            <span class="ani-head">Year Publish:</span>
            <span class="name">{{ animeDetail.year }}</span>
          </div>
          <div class="ani ani-title">
            <span class="ani-head">Status:</span>
            <span class="name">{{ animeDetail.status }}</span>
          </div>
          <div class="ani ani-title">
            <span class="ani-head">Genres:</span>
            <span class="item mr-1" *ngFor="let genre of animeDetail.genres">{{
              genre.name
            }}</span>
          </div>
          <div class="ani ani-title">
            <span class="ani-head">Favorite:</span>
            <span class="name">{{ animeDetail.favorites }}</span>
          </div>
          <div class="ani ani-title">
            <span class="ani-head">Season:</span>
            <span class="name">{{ animeDetail.season }}</span>
          </div>
          <div class="ani ani-title">
            <span class="ani-head">Rating:</span>
            <span class="name">{{ animeDetail.rating }}</span>
          </div>
          <div class="ani ani-title">
            <span class="ani-head">Score:</span>
            <span class="name">{{ animeDetail.score }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid d-flex flex-wrap">
    <div class="side-container col-lg-9 col-md-12 col-sm-12">
      <div class="reviews-container">
        <div class="reviews-warp">
          <div class="reviews-head">
            <h2 class="text-white">Reviews:</h2>
          </div>
          <div class="reviews-body text-white py-4 px-4">
            <div
              class="reviews-body-item"
              *ngFor="let review of reviewsShowList"
            >
              <div
                class="reviews-body-item-head d-flex justify-content-between my-3"
              >
                <div class="reviews-body-item-head-left">
                  <img
                    src="{{ review.user.images.jpg.image_url }}"
                    alt="..."
                    class="img-fluid"
                  />
                  <span class="ml-2">{{ review.user.username }}</span>
                </div>
                <div class="reviews-body-item-head-right">
                  <div class="reviews-body-item-head-right-item">
                    <span class="reviews-body-item-head-right-item-head"
                      >Score:</span
                    >
                    <span class="reviews-body-item-head-right-item-body">{{
                      review.scores.overall
                    }}</span>
                  </div>
                  <div class="reviews-body-item-head-right-item">
                    <span class="reviews-body-item-head-right-item-head"
                      >Date:</span
                    >
                    <span class="reviews-body-item-head-right-item-body">{{
                      review.date | date: "dd-MM-yyyy"
                    }}</span>
                  </div>
                </div>
              </div>
              <div class="reviews-body-item-content">
                <span class="text">{{ review.review }}</span>
              </div>
            </div>
            <button
              class="btn btn-secondary form-control mt-3"
              (click)="showAll()"
            >
              {{ isShowAll ? "Show less" : "Show all" }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-container col-lg-3 col-md-12 col-sm-12">
      <app-mostview-box></app-mostview-box>
    </div>
  </div>
</div>
<ng-template #spinner>
  <div class="d-flex justify-content-center">
    <app-spinner></app-spinner>
  </div>
</ng-template>
