iframe {
    height: 100%;
    width: 100%;
}

.watch {
    height: 90vh;
}

.anime-cover {
    height: 80vh;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(20px);
    opacity: .35;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.main-container {
    position: relative;
    height: 90%;
}

.ep-container {
    min-width: 20%;
    max-width: 25%;
    background-color: #27282b;
    max-height: 100%;
}

.vid-container {
    height: 100%;
    background-color: black;
}

.ep-list {
    max-height: 85%;
    overflow: scroll;
}
.ep-list::-webkit-scrollbar {
  display: none;
}

.ep-list::-webkit-scrollbar {
    display: none;
}

.ep-item {
    display: inline-block;
    cursor: pointer;
    width: calc(20% - 4px);
    background-color: #35373d;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin: 2px;
}

.item {
    font-size: 12px;
    font-family: arial;
    font-weight: 600;
    display: inline-block;
    line-height: 1.2em;
    padding: 2px 4px;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 5px;
}

.ani-pic img {
    width: 50%;
    height: 100%;
    border-radius: 4px;
}

.ani {
    font-size: 13px;
    line-height: 1.4em;
    margin-bottom: 10px;
}

.ani-head {
    font-weight: 750;
    margin-right: 5px;
    color: #fff;
}

.ani > .name {
    color: white;
}

.name {
    font-weight: 200;
    margin-right: 5px;
    color: #212529;
}

.reviews-body-item-head-left img{
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .reviews-body {
      background-color: #212529;
  }

  .reviews-head {
      padding-top: 1rem;
      padding-bottom: 1rem;
  }
