@import "../../style/variable";
.main-container{
  margin: 100px auto 40px auto;
  width: 70%;
}
li {
  list-style: none;
  padding-right: 5px;
}

h3{
  color: var(--color-primary);
}
.btn:not(:disabled):not(.disabled):focus{
  background-color:var(--color-primary) ;
  border-color: var(--color-primary);

}
