<div class="social-media d-flex">
  <div class="social-media--item social-media--item__blue">
    <i class="fab fa-facebook-f text-white mr-2"></i>
    <span>Facebook</span>
  </div>

  <div class="social-media--item social-media--item__blue-light">
    <i class="fab fa-twitter"></i>
    <span>Twiter</span>
  </div>

  <div class="social-media--item social-media--item__orange">
    <i class="fab fa-reddit-alien"></i>
    <span>Reddit</span>
  </div>

  <div class="social-media--item social-media--item__blue-light-2">
    <i class="fab fa-telegram-plane"></i>
    <span>Telegram</span>
  </div>
</div>
