@import "style/variable";
.app-container {
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: $color-dark;
}
.bg-black {
  background-color: $color-dark;
  background-color: #202125;
}
.toast {
  position: absolute;
  top: 20px;
  right: 20px;
}
.toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
