@import "../../style/variable";
.share {
  margin-top: 80px;
  &--title {
    width: 145px;
    color: $color-white;
    font-size: 16px;
    border-left: 2px solid var(--color-primary);
    padding-left: 20px;
    box-sizing: border-box;
  }
}
.spinner {
  width: 100%;
  height: 100vh;
}
.genres-title {
  color: var(--color-primary);
}
.pagination {
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;
  list-style: none;
  border-radius: 0.25rem;
}
p.message-error {
  text-align: center;
  background-color: #fb2f2fcf;
  padding: 10px 0px;
  border-radius: 5px;
  margin: 0;
}
