footer {
  background: #2a2c31 url(../../../assets/footer.png) no-repeat;
  background-size: cover;
}
li {
  list-style: none;
  padding-right: 5px;
}
.footer-descreption {
  box-sizing: border-box;
  display: inline-block;
}
button {
  height: 43px;
  font-size: 25px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}
