@import "../../style/variable";
footer {
  background: #2a2c31 url(../../../assets/footer.png) no-repeat;
  background-size: cover;
}
li {
  list-style: none;
  padding-right: 5px;
}
.footer-descreption {
  box-sizing: border-box;
  display: inline-block;
}
button {
  border-radius: 5px;
  text-align: center;
}
.btn-letter{
  position: relative;
  padding: 15px;
}
.btn-letter:hover{
  color: var(--color-primary);
}
.btn-letter p{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}
.footer-img{
  width: 120px;
  height: 70px;
}
.about-text{
  line-height: 1.4em;
  opacity: .5;
  font-size: 12px;
}
.contact-text{

  font-size: 12px;
}
.footer-filter-title{
  transform: translate(0,-15%);
  color: var(--color-primary);
}


@media only screen and (max-width: 400px) {
  .footer_list-letter{
    display: none;
  }
  footer{
    background-size: auto;
  }
  // .footer-descreption img{
  //   display: none;
  // }
}
