<footer class="bg-dark text-white py-5 px-5">
  <div class="footer-descreption">
    <div class="d-flex mx-3 border-bottom border-white">
      <h2>Wibu.com</h2>
      <div class="d-flex mb-3 pl-3 mx-2 border-left border-white">
        <div>
          <p>Join now</p>
          <h6>WIBU GROUP</h6>
        </div>
        <div></div>
        <button><i class="fab fa-facebook-square"></i></button>
        <button><i class="fab fa-discord"></i></button>
        <button><i class="fab fa-telegram-plane"></i></button>
        <button><i class="fab fa-reddit-alien"></i></button>
      </div>
    </div>
  </div>
  <div>
    <div class="d-flex mt-3">
      <h2 class="pr-3">A-Z LIST</h2>
      <p class="border-left border-white pl-3">
        Searching anime order by alphabet name A to Z
      </p>
    </div>
    <ul class="row">
      <li class="">All</li>
      <li>#</li>
      <li>0-9</li>
      <li>A</li>
      <li>B</li>
    </ul>
  </div>
  <div class="d-flex">
    <p>Term of service</p>
    <p>DMCA</p>
    <p>Contact</p>
  </div>
  <div>
    <p>
      Wibu does not store any files on our server,we only linked to the media
      which is hosted on 3rd party services
    </p>
    <p class="mb-0">Copyright © {{ year }} Wibu.com. All Rights Reserved</p>
  </div>
</footer>
