@import "../../style/variable";

.dropdown-button {
  width: 150px;
  padding: 10px 30px 1px 30px;
  background-color: $color-dark-1;
  color: white;
  border-radius: 10px;
  position: absolute;
  top: 31px;
  right: 33px;
  z-index: 4;
  ul {
    list-style: none;
    width: 100%;
    li {
      padding: 5px;
      margin-top: 10px;
      font-size: 12px;
      width: 100%;
      cursor: pointer;
      &:hover {
        color: $color-yellow;
      }
    }
  }
}

.user__header--name{
  font-size: 30px;
  color: white;
  line-height: 1.4em;
  font-weight: 500;
}
.user__header--bg{
  background: url("../../../assets/backgroud-user.jpg") no-repeat center;
  height: 20vh;
  filter: blur(8px);
}
.user__header--text{
  position: absolute;
  top: 20vh;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);

}
.user__header--menu{
  font-size: 20px;
  text-decoration: none;
  color: #ddd;

}

li{
  list-style: none;
}
.active{
  color: red;
}
