<div class="user__header border-bottom border-warning">
  <div class="user__header--bg"></div>
  <div class="user__header--text">
  </div>
</div>
<div class="container mt-5 pb-5 mb-3 pt-5">
  <div class="text-white ml-4 mt-4">
    <h1>Search</h1>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search" value="" name="keyword" [(ngModel)]="keyword" />
    </div>
  </div>
<div class="text-white ml-4 pt-4">
  <h1>Filter</h1>
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center filter-item">
      <p class="mb-0">Type:</p>
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-custom" id="dropdownBasic1" ngbDropdownToggle>{{typeValue | titlecase }}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="changeStatus($event.target.value, 'type')" value="all">All</button>
          <button ngbDropdownItem (click)="changeStatus($event.target.value, 'type')" value="tv">Tv</button>
          <button ngbDropdownItem (click)="changeStatus($event.target.value, 'type')" value="movie">Movie</button>
          <button ngbDropdownItem (click)="changeStatus($event.target.value, 'type')" value="ova">Ova</button>
          <button ngbDropdownItem (click)="changeStatus($event.target.value, 'type')" value="special">Special</button>
          <button ngbDropdownItem (click)="changeStatus($event.target.value, 'type')" value="ona">Ona</button>
          <button ngbDropdownItem (click)="changeStatus($event.target.value, 'type')" value="music">Music</button>

        </div>
      </div>
    </div>
    <div class="d-flex align-items-center filter-item">
      <p class="mb-0">Status:</p>
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-custom" id="dropdownBasic1" ngbDropdownToggle>{{statusValue | titlecase }}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="changeStatus($event.target.value, 'status')" value="all">All</button>
          <button ngbDropdownItem (click)="changeStatus($event.target.value, 'status')" value="airing">Airing</button>
          <button ngbDropdownItem (click)="changeStatus($event.target.value, 'status')" value="complete">Complete</button>
          <button ngbDropdownItem (click)="changeStatus($event.target.value, 'status')" value="upcoming">Up Coming</button>


        </div>
      </div>

    </div>
    <div class="d-flex input-score align-items-center ">
      <p class="mb-0 filter-item">Min score:</p>
      <div class="input-group">
        <input class="form-control" type="number" value="0" name="min_score" [(ngModel)]="min_score"  />
      </div>
    </div>
    <div class="d-flex input-score align-items-center ">
      <p class="mb-0 filter-item">Max score:</p>
      <div class="input-group">
        <input class="form-control" type="number" value="10" name="max_score" [(ngModel)]="max_score"  />
      </div>
    </div>
    <div class="d-flex align-items-center filter-item">
      <p class="mb-0">Rating:</p>
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-custom" id="dropdownBasic1" ngbDropdownToggle>{{ratingValue | titlecase }}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="changeStatus($event.target.value, 'rating')" value="all">All</button>
          <button ngbDropdownItem (click)="changeStatus($event.target.value, 'rating')" value="g">g</button>
          <button ngbDropdownItem (click)="changeStatus($event.target.value, 'rating')" value="pg">pg</button>
          <button ngbDropdownItem (click)="changeStatus($event.target.value, 'rating')" value="pg13">pg13</button>
          <button ngbDropdownItem (click)="changeStatus($event.target.value, 'rating')" value="r17">r17</button>
          <button ngbDropdownItem (click)="changeStatus($event.target.value, 'rating')" value="r">r</button>
          <button ngbDropdownItem (click)="changeStatus($event.target.value, 'rating')" value="rx">rx</button>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center filter-item">
      <p class="mb-0">Sort</p>
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-custom" id="dropdownBasic1" ngbDropdownToggle>{{sortValue | titlecase }}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="changeStatus($event.target.value, 'sort')" value="all">All</button>
        <button ngbDropdownItem (click)="changeStatus($event.target.value, 'sort')" value="desc">desc</button>
        <button ngbDropdownItem (click)="changeStatus($event.target.value, 'sort')" value="asc">asc</button>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="text-white ml-4 mt-4">
  <h1>Released</h1>
  <div>
    <form class="row row-cols-sm-auto">
      <div class="col-5">
        <div class="dp-hidden position-absolute">
          <div class="input-group">
            <input name="datepicker"
                   class="form-control datepicker-input"
                   ngbDatepicker
                   #datepicker="ngbDatepicker"
                   [autoClose]="'outside'"
                   (dateSelect)="onDateSelection($event)"
                   [displayMonths]="2"
                   [dayTemplate]="t"
                   outsideDays="hidden"
                   [startDate]="fromDate!"
                   tabindex="-1">
            <ng-template #t let-date let-focused="focused">
              <span class="custom-day"
                    [class.focused]="focused"
                    [class.range]="isRange(date)"
                    [class.faded]="isHovered(date) || isInside(date)"
                    (mouseenter)="hoveredDate = date"
                    (mouseleave)="hoveredDate = null">
                {{ date.day }}
              </span>
            </ng-template>
          </div>
        </div>
        <div class="input-group">
          <input #dpFromDate
                 class="form-control" placeholder="yyyy-mm-dd"
                 name="dpFromDate"
                 [value]="formatter.format(fromDate)"
                 (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
          <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"></button>
        </div>
      </div>
      <div class="col-5">
        <div class="input-group">
          <input #dpToDate
                 class="form-control" placeholder="yyyy-mm-dd"
                 name="dpToDate"
                 [value]="formatter.format(toDate)"
                 (input)="toDate = validateInput(toDate, dpToDate.value)">
          <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"></button>
        </div>
      </div>
    </form>

    <hr/>
  </div>
</div>

<div class="text-white ml-4 mt-4">
  <h1>Genres</h1>
  <ul class="d-flex flex-wrap ">
    <li *ngFor="let item of listGenres" class="mx-2 list-style-none {{(item.show ? 'active' : '')}} filter-item my-2" (click)="changeFilter($event.target,item)" [value]="item.mal_id">{{item.name}}</li>
  </ul>
</div>

<button class="btn btn-filter ml-4 mt-4 text-white" (click)="filterAnime()">Filter</button>
<div class="w-100 ">
  <app-anime-list [animeList]="filter"></app-anime-list>
  <div class="w-100 d-flex justify-content-center" *ngIf="filter">
    <ngb-pagination [collectionSize]="totalPages*10" [(page)]=" current_page" [maxSize]="5" [boundaryLinks]="true" (pageChange)="onPaginationClick($event)"></ngb-pagination>
  </div>
</div>
</div>

