@import "../../style/variable";

.dropdown-button {
  width: 150px;
  padding: 10px 30px 1px 30px;
  background-color: $color-dark-1;
  color: white;
  border-radius: 10px;
  position: absolute;
  top: 31px;
  right: 33px;
  z-index: 4;
  ul {
    list-style: none;
    width: 100%;
    li {
      padding: 5px;
      margin-top: 10px;
      font-size: 12px;
      width: 100%;
      cursor: pointer;
      &:hover {
        color: $color-yellow;
      }
    }
  }
}
