@import "app/style/variable";
@import "app/style/animation";

$primary: #ff550b;
$secondary: #303030;
$success: #015668;
$danger: #ff304f;
$info: #0f81c7;
$warning: #faa300;
$light: #e8e8e8;
$dark: #000000;
$spacer: 1rem;
$border-width: 1px;
$btn-border-radius: 0.25rem;
* {
  margin: 0;
  padding: 0;
}
//custom toast
.carousel-control-next {
  z-index: 10;
}
.carousel-control-prev {
  z-index: 10000000;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
.modal-content {
  background-color: transparent !important;
}

@import "../node_modules/swiper/swiper-bundle.min.css";
@import "../node_modules/swiper/swiper.min.css";
@import "../node_modules/swiper/components/pagination/pagination.min.css";
@import "../node_modules/swiper/components/navigation/navigation.min.css";

.green-theme {
  --color-primary: #fff;
  --color: #1a1a1a;
  --box-color: #fff;
  --box-shadow: #fff;
}
.yellow-theme {
  --color-primary: #a760ff;
  --color: #f5f5f5;
  --box-color: #fff;
  --box-shadow: #fff;
}
.sky-theme {
  --color-primary: #0aa1dd;
  --color: #f5f5f5;
  --box-color: #fff;
  --box-shadow: #fff;

.page-link{
  border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    font-weight: 450;
}
