@import "app/style/variable";
@import "app/style/animation";
* {
  margin: 0;
  padding: 0;
}
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap/scss/bootstrap";

// custom modal
.modal-content {
  background-color: transparent !important;
}
//custom toast
.carousel-control-next {
  z-index: 10;
}
.carousel-control-prev {
  z-index: 10000000;
}

//custom dropdown ng bs
.dropdown-menu.show {
  display: block;
  left: -250px;
  // background-color: transparent;
  border-radius: 5%;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
}
//pagination
.pagination {
  flex-wrap: wrap;
}
li.page-item {
  margin-top: 15px;
}
.page-link {
  color: $color-dark;
}
@import "../node_modules/swiper/swiper-bundle.min.css";
@import "../node_modules/swiper/swiper.min.css";
@import "../node_modules/swiper/components/pagination/pagination.min.css";
@import "../node_modules/swiper/components/navigation/navigation.min.css";

.green-theme {
  --color-primary: #14c38e;
  --color: #1a1a1a;
}
.yellow-theme {
  --color-primary: #faa300;
  --color: #1a1a1a;
}
.sky-theme {
  --color-primary: #0088cc;
  --color: #f5f5f5;
  --box-color: #fff;
  --box-shadow: #fff;
}
.carousel-control-next , .carousel-control-prev{
  z-index :10 !important;
}
.page-item.active .page-link {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}
.page-link {
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 450;
  opacity: 0.8;

}

.page-item.active .page-link{
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}
