@import "../../style/variable";

.navbar {
  transition: 0.5;
  background-color: transparent;
  &-brand {
    width: 100px;
  }
  &-inverse {
    background-color: rgba($color-black, 0.74);
  }
}

.bg-white {
  background-color: $color-white;
}
.input-search {
  outline: none;
  border: none;
  height: 80%;
  &:focus {
    outline: none;
  }
}
input:focus {
  outline: none;
}
.button-toggle {
  font-size: 23px;
  cursor: pointer;
}

.list-menu {
  color: $color-white;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  &--item {
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  &--item:not(:last-child) {
    border-bottom: 1px solid rgba($color-black, 0.8);
  }
  &--item:hover {
    color: $color-yellow;
  }
}
.btn {
  &--rounded {
    background-color: $color-dark-2;
    color: $color-white;
    border-radius: 10rem;
    font-size: 15px;
  }
  &-filter {
    padding: 0px 8px;
    font-size: 15px;
  }
}

// css for modal
.modal-custom {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #2a2c3142;
  transition: all 0.9;
  color: white;
  &--content {
    height: 100%;
    // transform: translateX(-330px);
    max-width: 330px;
    background-color: #2a2c31;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.avatar-user {
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
}
.dropdown-user {
  width: 300px;

  padding: 10px 30px 1px 30px;
  background-color: $color-dark-1;
  color: white;
  border-radius: 10px;
  position: absolute;
  top: 31px;
  right: 33px;
  &--email {
    font-size: 13px;
  }
  ul {
    list-style: none;
    li {
      background-color: $color-dark-2;
      border-radius: 28px;
      padding: 10px;
      margin-top: 10px;
      cursor: pointer;
      &:hover {
        color: $color-yellow;
        background-color: rgba($color-dark-2, 0.5);
      }
    }
  }
}
.log-out {
  text-align: right;
}

.wishlist-icon {
  color: $color-yellow;
  font-size: 30px;
  margin-right: 20px;
  position: relative;
  top: 5px;
  cursor: pointer;
}

.random-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color-white;
  border-radius: 10rem;
  font-size: 15px;
  padding: 0px 8px;
}

.random-btn:hover {
  color: $color-yellow;
}

