<div>
  <nav class="navbar navbar-expand-sm bg-dark d-flex">
    <span>
      <i class="fa-solid fa-bars text-white mr-5 button-toggle ml-3"></i>
    </span>
    <img
      class="navbar-brand"
      src="https://animebee.to/assets/animebee/images/logo.png"
    />
    <div class="d-flex bg-white d-flex align-items-center">
      <input type="text" class="input-search p-2" id="usr" />
      <i class="fa-solid fa-magnifying-glass"></i>
      <span class="btn btn-secondary btn-filter mx-2">filter</span>
    </div>
    <div class="ml-auto">
      <span class="btn btn-warning">Login</span>
    </div>
  </nav>
  <div class="modal-custom" *ngIf="toggle" (click)="toggle = false">
    <div class="modal-custom--content shadow-lg">
      <div class="btn btn--rounded mt-3 mb-4 ml-3" (click)="toggle = false">
        <i class="fa-solid fa-chevron-left mr-2"></i> Close menu
      </div>
      <div class="modal-custom-content" *ngIf="toggle">
        <ul class="list-menu">
          <li class="list-menu--item pl-3 pr-5 pb-3">Home</li>
          <li class="list-menu--item pl-3 pr-5 pb-3">Movie</li>
          <li class="list-menu--item pl-3 pr-5 pb-3">TV series</li>
          <li class="list-menu--item pl-3 pr-5 pb-3">Top Airing</li>
          <li class="list-menu--item pl-3 pr-5 pb-3">The best anime of 2021</li>
          <li class="list-menu--item pl-3 pr-5 pb-3">Genre</li>
        </ul>
        <div class="row px-3">
          <div class="col-sm-6 mt-3" *ngFor="let item of listGenre">
            {{ item }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
