<div
  id="carouselExampleFade"
  class="carousel slide carousel-fade"
  data-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="5000">
      <img
        src="https://static.bunnycdn.ru/i/cache/images/7/79/799816e7bc27bac1ea550c51e70d84f9.jpg"
        class="d-block w-100 full-width"
        alt="..."
      />
      <div class="carousel-effetc"></div>
      <div class="carousel-caption">
        <h5>#1 Spotlight</h5>
        <h2 class="carosel--title">Lorem, ipsum dolor.</h2>
        <div class="carosel--detail-infor d-flex">
          <div class="detail-infor--item mr-4">
            <i class="fas fa-play mr-2"></i><span>TV Series</span>
          </div>
          <div class="detail-infor--item mr-4">
            <i class="fas fa-clock mr-2"></i> <span>24min/ep</span>
          </div>
          <div class="detail-infor--item mr-4">
            <i class="fas fa-calenda mr-2"></i> <span>2020/04/20</span>
          </div>
          <span class="badge badge-pill badge-warning mr-2">HD</span>
          <span class="badge badge-pill badge-primary">Sub</span>
        </div>

        <p class="carosel--content mt-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis
          fugiat cum debitis provident quod cupiditate consequuntur sit sequi
          sint natus, optio quia repellendus aliquam dignissimos, suscipit
          dolore praesentium sunt corporis. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Rem beatae, doloremque totam repellat
          molestiae a itaque ipsum dolor enim? Explicabo.
        </p>
        <div class="d-flex mt-5">
          <div class="btn btn-warning mr-4">Watch now</div>
          <div class="btn btn-secondary">Detail</div>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-interval="5000">
      <img
        src="https://static.bunnycdn.ru/i/cache/images/1/11/11e74e0db7ee6479e99cde9c583bf44d.jpg"
        class="d-block w-100 full-width"
        alt="..."
      />
      <div class="carousel-effetc"></div>
      <div class="carousel-caption">
        <h5>#1 Spotlight</h5>
        <h2 class="carosel--title">Lorem, ipsum dolor.</h2>
        <div class="carosel--detail-infor d-flex">
          <div class="detail-infor--item mr-4">
            <i class="fas fa-play mr-2"></i><span>TV Series</span>
          </div>
          <div class="detail-infor--item mr-4">
            <i class="fas fa-clock mr-2"></i> <span>24min/ep</span>
          </div>
          <div class="detail-infor--item mr-4">
            <i class="fas fa-calenda mr-2"></i> <span>2020/04/20</span>
          </div>
          <span class="badge badge-pill badge-warning mr-2">HD</span>
          <span class="badge badge-pill badge-primary">Sub</span>
        </div>

        <p class="carosel--content mt-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis
          fugiat cum debitis provident quod cupiditate consequuntur sit sequi
          sint natus, optio quia repellendus aliquam dignissimos, suscipit
          dolore praesentium sunt corporis. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Rem beatae, doloremque totam repellat
          molestiae a itaque ipsum dolor enim? Explicabo.
        </p>
        <div class="d-flex mt-5">
          <div class="btn btn-warning mr-4">Watch now</div>
          <div class="btn btn-secondary">Detail</div>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-interval="5000">
      <img
        src="https://static.bunnycdn.ru/i/cache/images/f/fb/fbe82e085549d52d06b0d93b1fb4ed33.jpg"
        class="d-block w-100 full-width"
        alt="..."
      />
      <div class="carousel-effetc"></div>
      <div class="carousel-caption">
        <h5>#1 Spotlight</h5>
        <h2 class="carosel--title">Lorem, ipsum dolor.</h2>
        <div class="carosel--detail-infor d-flex">
          <div class="detail-infor--item mr-4">
            <i class="fas fa-play mr-2"></i><span>TV Series</span>
          </div>
          <div class="detail-infor--item mr-4">
            <i class="fas fa-clock mr-2"></i> <span>24min/ep</span>
          </div>
          <div class="detail-infor--item mr-4">
            <i class="fas fa-calenda mr-2"></i> <span>2020/04/20</span>
          </div>
          <span class="badge badge-pill badge-warning mr-2">HD</span>
          <span class="badge badge-pill badge-primary">Sub</span>
        </div>
        <p class="carosel--content mt-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis
          fugiat cum debitis provident quod cupiditate consequuntur sit sequi
          sint natus, optio quia repellendus aliquam dignissimos, suscipit
          dolore praesentium sunt corporis. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Rem beatae, doloremque totam repellat
          molestiae a itaque ipsum dolor enim? Explicabo.
        </p>
        <div class="d-flex mt-5">
          <div class="btn btn-warning mr-4">Watch now</div>
          <div class="btn btn-secondary">Detail</div>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-target="#carouselExampleFade"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-target="#carouselExampleFade"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </button>
</div>
