//carosel
@import "../../style/variable";
.full-width {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.carousel {
  &--rate {
    color: var(--color-primary);
    font-weight: 400;
  }
  &--title {
    color: white;
    margin: 20px 0px;
    font-size: 30px;
    font-weight: bold;
  }
  &-caption {
    margin-top: 100px;
    width: 40%;
    margin-left: 20px;
    text-align: left;
    position: absolute;
    bottom: 50px;
    left: 0;

  }
  &-img {
    position: relative;

    filter: blur(0px);
  }
  &-effetc {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      0deg,
      black 16%,
      rgba(0, 0, 0, 0) 80%,
      #2e2727 100%
    );
  }
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 20px;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 16px;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-dark-2;

    &::after {
      background-color: $color-white;
    }
  }

  &--yellow {
    background-color: var(--color-primary);
    color: $color-white;

    &::after {
      background-color: var(--color-primary);
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: 16px;
    color: var(--color-primary);
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid var(--color-primary);
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: var(--color-primary);
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}


//reponsive carousel
@media screen and (max-width: 768px) {
  .full-width {
    height: 60vh;
  }
  .carousel-content {
    display: none;
  }
  .carousel-caption {
    width: 100%;
    margin-left: 0;
    text-align: left;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .carousel {
    &--rate {
      text-align: center;
    }
    &--title {
      text-align: center;
    }
  }
  .group-btn {
    justify-content: center;
  }

}
